#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.cause-textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 25px;
  line-height: 25px;
  background: none;
  border: none;
}

.cause-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  background: linear-gradient(0deg, #00000082 1.5px, white 0px) rgb(255, 252, 217);
  background-size: 25px 25px;
  border-radius: 5px;
  transform: rotate(2deg);
  padding: 20px 28px;
  margin: 30px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}
.button {
  height: 50px;
  width: 230px;
  transition: all 1s, color 1s 0.2s;
  white-space: nowrap;
  color: black;
  position: relative;
  padding: 0px;
  border-color: black;

  iconify-icon {
    transform: scale(0);
    transform-origin: center;
    transition: all 1s;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  &.button-loading {
    background: rgb(255, 162, 162);
    animation: wiggle 0.3s infinite;
    width: 80px;
    color: transparent;
    transition: all 1s, color 0s 0.2s;
    iconify-icon {
      transform: scale(1);
    }
    label {
      display: none;
    }
  }
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}